    <ul class="main-menu">
        <li class='active'><a><span>Message </span><br><span class="setting"></span></a>
            <ul class="options" callback="menuFuncMessage">
                <li item_value="PushMsg" class="selected"><a>Push Spin</a></li>
                <li item_value="RemoveMsg"><a>Remove Spin</a></li>
                <li item_value="RemoveMsg2"><a>Remove Spin2</a></li>
            </ul>
        </li>
        <li class='active'><a><span>About </span><br><span class="setting"></span></a>
            <ul class="options" callback="menuFuncAbout">
                <li item_value="Project" class="selected"><a>Project</a></li>
                <li item_value="Member"><a>Project</a></li>
            </ul>
        </li>
    </ul>