<div id="main_container" class="z-depth-2"></div>
<div id="option_container" class="z-depth-2">
    
    <fieldset class="field_set">
        <legend class="legend_text">Graph Edit</legend>

        <label for="checkbox-editmode">Node</label>
        <input class="checkboxmatch editmode" type="checkbox" name="checkbox-1" id="checkbox-editmode" checked>

        <label for="checkbox-editlinkmode">Link</label>
        <input class="checkboxmatch editlinkmode" type="checkbox" name="checkbox-1" id="checkbox-editlinkmode" checked>

        <label for="checkbox-editsellink">Selection Mode</label>
        <input class="checkboxmatch editsellink" type="checkbox" name="checkbox-1" id="checkbox-editsellink">

        <button class="ui-button" type="submit" value="Clear Selection" id="but-edit-clear">Clear Selection</button>
        <button class="ui-button" type="submit" value="Delete Node" id="but-edit-delete">Delete Node</button>

        <p>
        <label for="range-cir-slider">Outside Range Size</label>
        <div id="range-cir-slider">
            <div id="range-cir-handle" class="ui-slider-handle"></div>
        </div>
        </p>
        <br>
        <p>
        <label for="range-cir-in-slider">Inside Range Size</label>
        <div id="range-cir-in-slider">
            <div id="range-cir-in-handle" class="ui-slider-handle"></div>
        </div>
        </p>
        <br>
        
    </fieldset>
        


</div>
