    <ul class="main-menu">
        <li class='active'><a><span>Func </span><br><span class="setting"></span></a>
            <ul class="options" callback="menuFunc">
                <li item_value="None" class="selected"><a>None</a></li>
                <li item_value="SaveGraph"><a>Save Graph</a></li>
                <li item_value="SaveGraphSeq"><a>Save Graph Sequence</a></li>
                <li item_value="LoadGraph"><a>Load Graph</a></li>
                <li item_value="LoadFixedGraph"><a>Load Fixed Graph</a></li>
                <li item_value="CommunityDetect"><a>Community Detection</a></li>
            </ul>
        </li>
        <li class='active'><a><span>About </span><br><span class="setting"></span></a>
            <ul class="options" callback="menuFuncAbout">
                <li item_value="Project" class="selected"><a>Project</a></li>
                <li item_value="Member"><a>Project</a></li>
            </ul>
        </li>
    </ul>