body {
	margin:0;
	padding:0;
	font-family:  'Montserrat';
	line-height: 1.5em;
	font-size: 12px;
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#sub_container{
    margin:0px auto;
    width:1240px;
    height:620px;
    margin-top:20px;
    margin-left:20px;
    float:left;
    border-radius:6px;
}





