<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".obj" allowed="true" />
                    <add fileExtension=".fs" allowed="true" />
                    <add fileExtension=".vs" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".fs" mimeType="text/xml" />
            <mimeMap fileExtension=".vs" mimeType="text/xml" />
            <mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".xhr" mimeType="text/xml" />
        </staticContent>
    </system.webServer>
</configuration>
